# Configuration secrets
secrets.yml

# Database files
dj_hetmech_app/migrations
hetmech-pg_dump.sql.gz
db.sqlite3
/database

# Manage command downloads
/dj_hetmech_app/management/commands/downloads

# Python
__pycache__

# System files
*~
.vscode
