version: 2
jobs:
  tests:
    docker:
      # Primary docker container where the tests will be run
      - image: ubuntu:18.04

      # Secondary docker container for database service
      - image: postgres:10.6
        environment:
          POSTGRES_USER: circleci

    working_directory: ~/hetmech-backend

    steps:
      - checkout
      - run:
          name: OS update
          command: |
            apt update && apt upgrade --yes
      - run:
          name: Set up Postgres
          command: |
            apt install postgresql-client --yes
            createdb --host=localhost --username=circleci circleci_test
            cp .circleci/ci_secrets.yml dj_hetmech/secrets.yml
      - run:
          name: Install miniconda
          working_directory: ~/
          command: |
            apt install git wget --yes
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh --output-document miniconda.sh
            bash miniconda.sh -b -p $HOME/miniconda
            # gcc is required for "pip install git+https://..."
            apt install gcc --yes
            conda env create --quiet --file ./environment.yml
            conda activate hetmech-backend
      - run:
          name: Backend tests
          command: |
            python manage.py makemigrations dj_hetmech_app
            python manage.py migrate
            python manage.py test
      - run:
          name: Frontend tests
          command: |
            apt install nodejs npm libfontconfig --yes

workflows:
  version: 2
  test:
    jobs:
      - tests
